.startNow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fafc;
    padding: 0 0 5rem 0;
  }
  
  .startContainer{
    margin :2rem 7.5rem 0 7.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: var(--myWidth);
    height: 25rem;
    padding: 5rem;
    background :linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),
     url(../../../../assets/banner/banner_bg_desktop.jpg);
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
    overflow: auto;
  } 
  
  .startNow .startContainer h4 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
  }
  
  
  
  .startNow .startContainer  h2{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin: 0 0 0.5rem 0;
  }
  
  .startNow .startContainer  p{
    font-size: 1.5rem;
    font-weight: 350;
    color: white;
    margin: 0 0 1rem 0;
  }
  
  .startNow .startContainer button{
    display: inline;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background:var(--myBtnColor);
    padding: 1rem 2rem;
    border: none;
    color: white;
  }
  
  @media (max-width: 400px) {
    .startNow .startContainer {
      height: auto;
      padding: 1rem;
    }
    .startNow .startContainer  h2 {
      font-size: 1rem;
    }
    .startNow .startContainer  p {
      font-size: 1rem;
    }
  }
  
  
  